.search_list_btn {
    border: 2px solid red;
    font-weight: 600 !important;
}


.highlighted {
    background-position: top left;
    background-repeat: no-repeat;
    background-size: 100% auto;
    font-weight: 600;
    font-size: large;
    transition: background-size .5s;
  }
  
  .highlighted.yellow {
    background-image: linear-gradient(to top, yellow 60%, transparent 0);
  }